@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    background: #f5f5f5;
}

.nav{
    z-index: 1;
    border: none;
    outline: none;
}

:root{
    --offcanvas-width:270px;
    --topNavbarHeight:56px;
}

.user-icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.offcanvas-backdrop{
    display: none !important;
}

.offcanvas{
    top: var(--topNavbarHeight) !important;
    width: var(--offcanvas-width) !important;
}

.sidebar-link .right-icon{
    transition: all 0.5s;
}
.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}

main{
    margin-left: 270px;
}